
useful func/libsvm-3.24/libsvm-3.24/COPYRIGHT
useful func/libsvm-3.24/libsvm-3.24/FAQ.html
useful func/libsvm-3.24/libsvm-3.24/heart_scale
useful func/libsvm-3.24/libsvm-3.24/java/libsvm.jar
useful func/libsvm-3.24/libsvm-3.24/java/libsvm/svm.java
useful func/libsvm-3.24/libsvm-3.24/java/libsvm/svm.m4
useful func/libsvm-3.24/libsvm-3.24/java/libsvm/svm_model.java
useful func/libsvm-3.24/libsvm-3.24/java/libsvm/svm_node.java
useful func/libsvm-3.24/libsvm-3.24/java/libsvm/svm_parameter.java
useful func/libsvm-3.24/libsvm-3.24/java/libsvm/svm_print_interface.java
useful func/libsvm-3.24/libsvm-3.24/java/libsvm/svm_problem.java
useful func/libsvm-3.24/libsvm-3.24/java/Makefile
useful func/libsvm-3.24/libsvm-3.24/java/svm_predict.java
useful func/libsvm-3.24/libsvm-3.24/java/svm_scale.java
useful func/libsvm-3.24/libsvm-3.24/java/svm_toy.java
useful func/libsvm-3.24/libsvm-3.24/java/svm_train.java
useful func/libsvm-3.24/libsvm-3.24/java/test_applet.html
useful func/libsvm-3.24/libsvm-3.24/Makefile
useful func/libsvm-3.24/libsvm-3.24/Makefile.win
useful func/libsvm-3.24/libsvm-3.24/matlab/heart_scale
useful func/libsvm-3.24/libsvm-3.24/matlab/libsvmread.c
useful func/libsvm-3.24/libsvm-3.24/matlab/libsvmread.mexw64
useful func/libsvm-3.24/libsvm-3.24/matlab/libsvmwrite.c
useful func/libsvm-3.24/libsvm-3.24/matlab/libsvmwrite.mexw64
useful func/libsvm-3.24/libsvm-3.24/matlab/make.m
useful func/libsvm-3.24/libsvm-3.24/matlab/Makefile
useful func/libsvm-3.24/libsvm-3.24/matlab/README
useful func/libsvm-3.24/libsvm-3.24/matlab/svm_model_matlab.c
useful func/libsvm-3.24/libsvm-3.24/matlab/svm_model_matlab.h
useful func/libsvm-3.24/libsvm-3.24/matlab/svmpredict.c
useful func/libsvm-3.24/libsvm-3.24/matlab/svmpredict.mexw64
useful func/libsvm-3.24/libsvm-3.24/matlab/svmtrain.c
useful func/libsvm-3.24/libsvm-3.24/matlab/svmtrain.mexw64
useful func/libsvm-3.24/libsvm-3.24/python/commonutil.py
useful func/libsvm-3.24/libsvm-3.24/python/Makefile
useful func/libsvm-3.24/libsvm-3.24/python/README
useful func/libsvm-3.24/libsvm-3.24/python/svm.py
useful func/libsvm-3.24/libsvm-3.24/python/svmutil.py
useful func/libsvm-3.24/libsvm-3.24/README
useful func/libsvm-3.24/libsvm-3.24/svm-predict.c
useful func/libsvm-3.24/libsvm-3.24/svm-scale.c
useful func/libsvm-3.24/libsvm-3.24/svm-toy/qt/Makefile
useful func/libsvm-3.24/libsvm-3.24/svm-toy/qt/svm-toy.cpp
useful func/libsvm-3.24/libsvm-3.24/svm-toy/windows/svm-toy.cpp
useful func/libsvm-3.24/libsvm-3.24/svm-train.c
useful func/libsvm-3.24/libsvm-3.24/svm.cpp
useful func/libsvm-3.24/libsvm-3.24/svm.def
useful func/libsvm-3.24/libsvm-3.24/svm.h
useful func/libsvm-3.24/libsvm-3.24/tools/checkdata.py
useful func/libsvm-3.24/libsvm-3.24/tools/easy.py
useful func/libsvm-3.24/libsvm-3.24/tools/grid.py
useful func/libsvm-3.24/libsvm-3.24/tools/README
useful func/libsvm-3.24/libsvm-3.24/tools/subset.py
useful func/libsvm-3.24/libsvm-3.24/windows/libsvm.dll
useful func/libsvm-3.24/libsvm-3.24/windows/libsvmread.mexw64
useful func/libsvm-3.24/libsvm-3.24/windows/libsvmwrite.mexw64
useful func/libsvm-3.24/libsvm-3.24/windows/svm-predict.exe
useful func/libsvm-3.24/libsvm-3.24/windows/svm-scale.exe
useful func/libsvm-3.24/libsvm-3.24/windows/svm-toy.exe
useful func/libsvm-3.24/libsvm-3.24/windows/svm-train.exe
useful func/libsvm-3.24/libsvm-3.24/windows/svmpredict.mexw64
useful func/libsvm-3.24/libsvm-3.24/windows/svmtrain.mexw64
